# pandas fast tutorial

In [2]:
import pandas as pd
import numpy as np

In [15]:
l = list(range(1,5))
d = dict.fromkeys(["a", "b", "c"], 1)
arr = np.arange(1, 6)
print(pd.Series(l))
print(pd.Series(d))
print(pd.Series(arr))

0    1
1    2
2    3
3    4
dtype: int64
a    1
b    1
c    1
dtype: int64
0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
s1 = pd.Series(l, ["t"]*len(l))
s2 = pd.Series(l)
print(s1["t"])
print(s2[0])
print(s2[2:])

In [31]:
df = pd.DataFrame()
df["name"] = ["pupa", "lupa"]
df["age"] = [10, 20]
df["isworkig"] = [True, False]
print(df)
# alternative
humans = pd.DataFrame(data=[["pupa", 10, False], ["lupa", 20, True]], columns=["name", "age", "isworking"])                                                                              
humans

   name  age  isworkig
0  pupa   10      True
1  lupa   20     False

   name  age  isworking
0  pupa   10      False
1  lupa   20       True

In [36]:
url = "https://raw.githubusercontent.com/chrisalbon/simulated_datasets/master/titanic.csv"
df = pd.read_csv(url)
print(df.head(5)) # first 5
print(df.tail(3)) # last 3 
print(df.shape) # rows and columns 
print(df.describe()) # statistic

                                            Name PClass    Age     Sex  \
0                   Allen, Miss Elisabeth Walton    1st  29.00  female
1                    Allison, Miss Helen Loraine    1st   2.00  female
2            Allison, Mr Hudson Joshua Creighton    1st  30.00    male
3  Allison, Mrs Hudson JC (Bessie Waldo Daniels)    1st  25.00  female
4                  Allison, Master Hudson Trevor    1st   0.92    male

   Survived  SexCode
0         1        1
1         0        1
2         0        0
3         0        1
4         1        0
                  Name PClass   Age   Sex  Survived  SexCode
1310  Zenni, Mr Philip    3rd  22.0  male         0        0
1311  Lievens, Mr Rene    3rd  24.0  male         0        0
1312    Zimmerman, Leo    3rd  29.0  male         0        0
(1313, 6)
              Age     Survived      SexCode
count  756.000000  1313.000000  1313.000000
mean    30.397989     0.342727     0.351866
std     14.259049     0.474802     0.477734
min      0.170000     0.000000     0.000000
25%     21.000000     0.000000     0.000000
50%     28.000000     0.000000     0.000000
75%     39.000000     1.000000     1.000000
max     71.000000     1.000000     1.000000

In [40]:
df.iloc[3:5]

,Name,PClass,Age,Sex,Survived,SexCode
3,"Allison, Mrs Hudson JC (Bessie Waldo Daniels)",1st,25.00,female,0,1
4,"Allison, Master Hudson Trevor",1st,0.92,male,1,0

In [41]:
df[df["PClass"] == "1st"].head(2)

                           Name PClass   Age     Sex  Survived  SexCode
0  Allen, Miss Elisabeth Walton    1st  29.0  female         1        1
1   Allison, Miss Helen Loraine    1st   2.0  female         0        1

In [57]:
# 2.3.1
# найти евклидово растроение между 2 Series (точками) a and b
a = pd.Series([2, 4, 6, 8])
b = pd.Series([1, 3, 5, 7])
diff = a-b
print(diff)
print(diff**2)
print(sum(diff**2))
print(sum(diff**2)**.5)
res = sum(diff**2)**0.5
res
# print(np.linalg.norm(a-b))

0    1
1    1
2    1
3    1
dtype: int64
0    1
1    1
2    1
3    1
dtype: int64
4
2.0

2.0

In [61]:
# 2.3.2 + 2.3.3
url = "https://raw.githubusercontent.com/akmand/datasets/main/adult.csv"
df = pd.read_csv(url)
print(df.head(5)) # first 5
print(df.tail(3)) # last 3 
print(df.shape) # rows and columns 
print(df.describe()) # statistic

   age         workclass  education_num      marital_status  \
0   39         State-gov             13       Never-married
1   50  Self-emp-not-inc             13  Married-civ-spouse
2   38           Private              9            Divorced
3   53           Private              7  Married-civ-spouse
4   28           Private             13  Married-civ-spouse

          occupation   relationship   race  gender  hours_per_week  \
0       Adm-clerical  Not-in-family  White    Male              40
1    Exec-managerial        Husband  White    Male              13
2  Handlers-cleaners  Not-in-family  White    Male              40
3  Handlers-cleaners        Husband  Other    Male              40
4     Prof-specialty           Wife  Other  Female              40

  native_country  capital income_status
0  United-States     2174         <=50K
1  United-States        0         <=50K
2  United-States        0         <=50K
3  United-States        0         <=50K
4          Other        0         <=50K
       age     workclass  education_num      marital_status       occupation  \
45219   38       Private             13  Married-civ-spouse   Prof-specialty
45220   44       Private             13            Divorced     Adm-clerical
45221   35  Self-emp-inc             13  Married-civ-spouse  Exec-managerial

      relationship   race gender  hours_per_week native_country  capital  \
45219      Husband  White   Male              50  United-States        0
45220    Own-child  Other   Male              40  United-States     5455
45221      Husband  White   Male              60  United-States        0

      income_status
45219         <=50K
45220         <=50K
45221          >50K
(45222, 12)
                age  education_num  hours_per_week       capital
count  45222.000000   45222.000000    45222.000000  45222.000000
mean      38.547941      10.118460       40.938017   1012.834925
std       13.217870       2.552881       12.007508   7530.315380
min       17.000000       1.000000        1.000000  -4356.000000
25%       28.000000       9.000000       40.000000      0.000000
50%       37.000000      10.000000       40.000000      0.000000
75%       47.000000      13.000000       45.000000      0.000000
max       90.000000      16.000000       99.000000  99999.000000